.btn{
    display: flex;
    justify-content: center;
    button{
        margin-top: 18px;
        font-size: 15px;
        font-weight: 600;
        padding: 12px 50px;
        color: #000;
        background: #D9E8B6;
        border: 1px solid black;
        transition: .4s;
        &:hover {
                color: #D9E8B6;
                background: #060707;
                box-shadow: 0 4px 11px rgba(22, 21, 21, 0.507);
            }

    }
}